@mixin clearfix {
    zoom: 1;

    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin reset {
    @at-root {
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
        address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
        u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
        th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
        ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;

            &:before,&:after {
                content: '';
                content: none;
            }
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        caption, th, td {
            text-align: left;
            font-weight: normal;
            vertical-align: middle;
        }

        a img {
            border: none;
        }
    }
}

@mixin triangle($direction, $width, $height, $color) {
    $top-width: 0;
    $top-color: rgba(0, 0, 0, 0);
    $right-width: 0;
    $right-color: rgba(0, 0, 0, 0);
    $bottom-width: 0;
    $bottom-color: rgba(0, 0, 0, 0);
    $left-width: 0;
    $left-color: rgba(0, 0, 0, 0);
    @if $direction == (to top) {
        $left-width: $width / 2;
        $right-width: $width / 2;
        $bottom-width: $height;
        $bottom-color: $color;
    } @else if $direction == (to top right) or $direction == (to right top) {
        $right-width: $width;
        $right-color: $color;
        $bottom-width: $height;
    } @else if $direction == (to right) {
        $top-width: $height / 2;
        $bottom-width: $height / 2;
        $left-width: $width;
        $left-color: $color;
    } @else if $direction == (to bottom right) or $direction == (to right bottom) {
        $left-width: $width;
        $bottom-width: $height;
        $bottom-color: $color;
    } @else if $direction == (to bottom) {
        $top-width: $height;
        $top-color: $color;
        $left-width: $width / 2;
        $right-width: $width / 2;
    } @else if $direction == (to bottom left) or $direction == (to left bottom) {
        $top-width: $height;
        $left-width: $width;
        $left-color: $color;
    } @else if $direction == (to left) {
        $top-width: $height / 2;
        $bottom-width: $height / 2;
        $right-width: $width;
        $right-color: $color;
    } @else if $direction == (to top left) or $direction == (to left top) {
        $top-width: $height;
        $top-color: $color;
        $right-width: $width;
    } @else {
        @warn 'Incorrect triangle direction: #{inspect($direction)}';
        $direction: false;
    }
    @if $direction {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $top-width $right-width $bottom-width $left-width;
        border-color: $top-color $right-color $bottom-color $left-color;
    }
}